{% load analysis_tags %}

<div class="panel panel-default">
    <table class="table table-striped">
        <tr>
            <th>File Processed</th>
            <td>{{analysis.dockerproc.file_processed}}</td>
        </tr>
        <tr>
            <th>Docker Containers</th>
            <td>{{analysis.dockerproc.docker_image}}</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{analysis.dockerproc.summary}}</td>
        </tr>
        <tr>
            <th>Timestamp</th>
            <td>{{analysis.dockerproc.timestamp}}</td>
        </tr>
    </table>


</div>