{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<style>
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
</style>
<script type='text/javascript'>
$(document)
    .on('change', '.btn-file :file', function() {
        var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {

        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;

        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }

    });
});
</script>
<div class="row">
    <div class="col-md-6 col-md-offset-3 center">
        <p style="margin-bottom: 10px;"><img src="{% static "graphic/cuckoo.png" %}" /></p>

        <form role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="tabbable">
                {% if not resubmit %}
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#file" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> File</a></li>
                    <li><a href="#url" data-toggle="tab"><span class="glyphicon glyphicon-globe"></span> URL</a></li>
                </ul>
                {% endif %}
                <div class="tab-content">
                    <div class="tab-pane fade {% if not resubmit or resubmit == "file" %}in active{% endif %}" id="file">
                        {% if resubmit == "file" %}
                        <label style="display: flex; color: #337ab7;">Chosen file to resubmit</label>
                        <input name="category" type="text" class="form-control hidden" value="file">
                        {% if dropped_file %}
                        <input name="category" type="text" class="form-control hidden" value="dropped_file">
                        {% endif %}
                        {% endif %}
                        <div class="input-group col-md-6">
                            <span class="input-group-btn">
                            {% if resubmit %}
                                <input type="text" class="form-control" disabled value="{{file_name}}">
                                <input name="sample_id" type="text" class="form-control hidden" value="{{sample_id}}">
                            {% else %}
                                <input type="text" class="form-control" readonly>
                                <span class="btn btn-primary btn-file">
                                    Select <input type="file" name="sample" multiple="multiple">
                                </span>
                            {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="tab-pane fade {% if resubmit == "URL" %}in active{% endif %}" id="url">
                        {% if resubmit == "URL" %}
                        <label style="display: flex; color: #337ab7;">Chosen URL to resubmit</label>
                        <input name="category" type="text" class="form-control hidden" value="URL">
                        {% endif %}
                        <div style="width: 100%;" class="input-group">
                            <label class="sr-only" form="form_url">URL</label>
                            <input type="text" class="form-control" id="form_url" name="url" placeholder="URL" {% if url %} value="{{url}}" {% endif %} />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel" id="accordion" style="margin-top: 20px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Select Docker images for analysis</strong>
                    </div>
                    <div class="panel-body">
                        {% for image in docker_images %}
                        <p><input type="checkbox" name="docker_images" value="{{image}}"> {{image}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <div style="margin-top: 20px;"><button type="submit" class="btn btn-primary btn-lg">Analyze</button></div>
        </form>
    </div>
</div>
{% endblock %}
